@import url('http://fonts.googleapis.com/css?family=Oxygen:400,700');

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/LeagueGothic-Regular-webfont.eot');
    src: url('../fonts/LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueGothic-Regular-webfont.woff') format('woff'),
         url('../fonts/LeagueGothic-Regular-webfont.ttf') format('truetype'),
         url('../fonts/LeagueGothic-Regular-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}