@import url('http://fonts.googleapis.com/css?family=Oxygen:400,700');

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/LeagueGothic-Regular-webfont.eot');
    src: url('fonts/LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LeagueGothic-Regular-webfont.woff') format('woff'),
         url('fonts/LeagueGothic-Regular-webfont.ttf') format('truetype'),
         url('fonts/LeagueGothic-Regular-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ========================= */

*{ margin: 0; padding: 0; border: none; vertical-align: top; }

body{ font: normal 12px/18px Arial, sans-serif; background: #f3f3f3; color: #888; }

/* ========================= */

a{ color: #444; text-decoration: none; }
a:hover{ text-decoration: underline; }

strong { font-weight: bold; }

h1{
	width: 600px;
	font: normal 42px/42px 'LeagueGothicRegular', Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
}

ol, ul{
	padding-bottom: 14px;
}

ul{
	text-align: center;
}

ol li{
	margin-left: 20px;
	padding-left: 8px;
}

.contact-details tr td:first-child{
	vertical-align: middle;
}

.contact-details .email-user{
	width: 51.5%;
	display: inline-block;
	margin-right: 1%;
}

.contact-details .email-domain{
	font: normal 16px/16px Arial, sans-serif;
	display: inline-block;
	margin-top: 14px;
	vertical-align: middle;
}

form{
	width: 600px;
	margin: 26px auto;
	padding-bottom: 15px;
}

form label{
	font: bold 14px/14px Arial, sans-serif;
	color: #888;
}

form select{
	width: 100%;
	font: normal 16px/19px Arial, sans-serif;
	color: #aaa;
	background: #fff url('images/select-arrow.png') 97.5% center no-repeat;
	border: 1px solid #ccc;
	-webkit-border-radius: 0;
	-mox-border-radius: 0;
	border-radius: 0;
	margin: 7px 0;
	padding: 6px 26px 5px 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

form select:focus{
	color: #444;
	border: 1px solid #999;
}

form input[type="text"]{
	width: 100%;
	font: normal 16px/16px Arial, sans-serif; 
	color: #aaa;
	background: #fff;
	border: 1px solid #ccc;
	margin: 7px 0;
	padding: 6px 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

form input[type="submit"]{
	font: normal 24px/38px 'LeagueGothicRegular', Arial, sans-serif; 
	color: #fff;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	background: #444;
	padding: 3px 6.5% 0;
	float: right;
	cursor: pointer;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus{
	background: #333;
}

form select,
form input[type="text"]{
	display: block;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
}

form input[type="text"]:focus{
	color: #444;
	border: 1px solid #999;
}

.page-header{
	background: #111 url(images/header_bg.jpg) repeat top left;
	border-bottom: 4px solid #a7a7a7;
	box-shadow: inset 1px 0px 14px #000;
	padding: 56px 0 30px;
}

.signature-preview{
	width: 530px; 
	font-size: 12px;
	background: #fff;
	border: 1px solid #ccc;
	margin: 25px auto 15px; 
	padding: 26px; 
	overflow: hidden;

	background-color: #fff; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#efefef));
	background-image: -webkit-linear-gradient(top, #fff, #efefef); 
	background-image:    -moz-linear-gradient(top, #fff, #efefef);
	background-image:     -ms-linear-gradient(top, #fff, #efefef);
	background-image:      -o-linear-gradient(top, #fff, #efefef);
}

.client-links li{
	width: 38%;
	text-align: center;
	display: inline-block;
	margin: 5px 0.85%;
}

.client-links li a{
	width: 100%;
	font: normal 20px/34px 'LeagueGothicRegular', Arial, sans-serif; 
	color: #fff;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	background: #777;
	display: block;
	padding-top: 2px;
	cursor: pointer;
}

.client-links li a:hover{
	text-decoration: none;
	background: #666;
}

:focus{ outline: 0; }